body {
    background-color: darkcyan;
}
.content {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: .3em;
    padding: .3em;
    background-color:rebeccapurple;

}

.mainContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.leftColumn{
    display: flex;
    flex-direction: column;
   margin: 2em;
   padding: 2em;

}

.rightColumn{
    display: flex;
    flex-direction: column;
    margin: 2em;
    padding: 2em;
}

.navBar{
    background-color: goldenrod;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    padding: .5em;
    margin: .5em;
}

.chickadees{
   width: 10em;
   align-self: center;


}

header {
 
    display: flex;
    flex-direction: column;
}